  * {
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
  }

body {
    background-color:azure;
  }

h1,
a {
    color: #fff;
}

h1,
.menu-image,
.menu ul {
    text-align: center;
}

.menu ul li {
    display: inline-block;
    border: 1px solid transparent;
    padding: 10px 40px;
}

.menu ul li:hover {
    border: 1px solid #333;
    border-radius: 100px;
    background-color: #476072;
    transition: 1.5s;
}

#top-header {
    background-color: #334257;
    padding: 15px;
    margin-bottom: 20px;
}

.full-container {
    max-width: 80%;
    margin: 0 auto;
}

.menu {
    padding: 10px;
    background-color: #548CA8;
    border: 1px solid #666;
    width: 50%;
    margin: 0 auto;
    border-radius: 11px;
}

.menu ul,
.list ol {
    list-style: none;
}

.menu ul {
    font-size: 20px;
    line-height: 1.8;
}

.home-btn,
.top-btn {
    padding: 5px 15px;
    border: 2px solid transparent;
    font-size: 20px;
    border-radius: 11px;
    margin: 10px;
}
.end-btns {
    padding: 0 30px 30px;
    margin-top: 20px;
}

div .home-btn {
    background-color: greenyellow;
}

div .top-btn {
    background-color: lightblue;
}

div .home-btn:hover {
    background-color: #fff;
    border: 2px solid greenyellow;
    transition: 0.8s;
}

div .top-btn:hover {
    background-color: #fff;
    border: 2px solid lightblue;
    transition: 0.8s;
}

.food-image {
    height: auto;
    width: 400px;
    border-radius: 3px;
}

.list {
    border: 1px solid #333;
    border-radius: 11px;
}

.list.prep {
    background-color: azure;
    text-align: left;
}

.list.steps {
    background-color:aliceblue;
    text-align: left;
}

.menu-image .odin-image {
    height: auto;
    width: 250px;
    padding-top: 10px;
}

.left-box, 
.right-box {
    display: inline-block;
    max-width: 500px;
    vertical-align: top;
}

.container-center {
    text-align: center;
}

h3 {
    margin-top: 50px;
}